@{
    ViewData["Title"] = "Home Page";
}



<div class="ownCarousel">
    <div class="mySlides">
        <div id="mySlides-1"></div>
        <div class="centered">
            <h1>নির্মল পরিবেশ?</h1>
            <button class="btn btn-cust">Learn More</button>
        </div>
    </div>
    <div class="mySlides">
        <div id="mySlides-2"></div>
        <div class="centered">
            <h1>সুশৃংখল জীবন যাপন?</h1>
            <button class="btn btn-cust">Learn More</button>
        </div>
    </div>
    <div class="mySlides">
        <div id="mySlides-3"></div>
        <div class="centered">
            <h1>বিশুদ্ধ খাদ্য ও পানীয়?</h1>
            <button class="btn btn-cust">Learn More</button>
        </div>
    </div>
    <div class="mySlides">
        <div id="mySlides-4"></div>
        <div class="centered">
            <h1 style="color: #ee5253;">শারীরিক ও মানষিক সুস্থতা?</h1>
            <button class="btn btn-cust">Learn More</button>
        </div>
    </div>
    <div class="mySlides">
        <div id="mySlides-5"></div>
        <div class="centered">
            <h1>আমাদের প্রয়োজন?</h1>
            <button class="btn btn-cust">Learn More</button>
        </div>
    </div>
    <div class="mySlides">
        <div id="mySlides-6"></div>
        <div class="centered">
            <h1>আপনাকে প্রাণবন্ত রাখার একটি প্রচেষ্টা মাত্র।</h1>
            <button class="btn btn-cust">Learn More</button>
        </div>
    </div>
</div>

<div class="scrollBar">
    <div class="scroll scroll-1"></div>
    <div class="scroll scroll-2"></div>
    <div class="scroll scroll-3"></div>
    <div class="scroll scroll-4"></div>
    <div class="scroll scroll-5"></div>
    <div class="scroll scroll-6"></div>
</div>

<div class="text">
    <h3>নির্মল পরিবেশ, সুশৃংখল জীবন যাপন এবং বিশুদ্ধ খাদ্য ও পানীয় সুস্থ জীবন যাপনের পূর্ব শর্ত কিন্তু বর্তমানে যাওয়ার অভাব প্রতিনিয়ত অনুভূত হচ্ছে।</h3>
</div>

<div class="text">
    <h1 style="color: #ec6e00;">সুমেরু+ প্রচেষ্টা</h1>
    <h3>
        সুস্থ ও সুন্দর জীবন যাপন করতে নিয়মিত সচেতন রাখা ও সেবা দেওয়ার মাধ্যমে সহযোগিতা করা।
    </h3>
</div>

<div id="container">
    <ul id="imgs">
        <li><img src="~/images/exercise.png" alt="" /></li>
        <li><img src="~/images/fruites.png" alt="" /></li>
        <li><img src="~/images/hands.png" alt="" /></li>
        <li><img src="~/images/human.png" alt="" /></li>
        <li><img src="~/images/logo.png" alt="" /></li>
        <li><img src="~/images/tree_in_hand.png" alt="" /></li>
        <li><img src="~/images/weight.png" alt="" /></li>
    </ul>
</div>

@section Scripts{
    <script src="~/js/ImageScroll.js"></script>
    <script type="text/javascript">
        $('#imgs').imageScroll({
            orientation: "left",
            speed: 600,
            interval: 1000,
            hoverPause: true,
            callback: function () {
                var ordinal = $(this).find("img").first().attr("src");
                console.log(ordinal);
                $(this).next("span").text("CallbackDisplay: hidden " + ordinal + "!");
            }
        });
    </script>

    
}